* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
    color: currentColor;
  }
  
  body {
    font-family: 'Zen Dots', cursive;
    margin: 0;
    padding: 0;
    background-color: #020b12;
    color: white;
    /* user-select: none; */
  }