/* background-video */

.container-video {
  height: 100vh;
  width: 100%;
  position: relative;
}

.video-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110px;
  -webkit-text-stroke: 0.5px var(--text-color);
  color: transparent;
  background-color: #000;
}

.big-logo span {
  display: inline-block;
  transition: all 0.5s;
  animation: animateBigLogo 2.5s infinite;
}

.big-logo {
  transition: 0.8s ease;
}

.big-logo:hover {
  transform: scale(1.08);
}

@keyframes animateBigLogo {
  0% {
    color: rgb(255, 255, 255);
    transform: translateY(0);
    margin: 0;
  }
  10% {
    color: rgb(0, 0, 0);
  }
}

/* text-arrow */

.click-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 85%;
  left: 49%;
  gap: 8px;
}

.banner-text {
  font-family: 'Outfit';
  font-size: 30px;
  cursor: pointer;
  border: 0;
  color: var(--text-color);
  margin-bottom: 30px;
}

.banner-text::after {
  content: '';
  height: 2px;
  width: 0%;
  background-color: var(--text-color);
  display: block;
  transition: 0.5s ease-in-out;
}

.banner-text:hover::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #5577fe;
  display: block;
}
  
.arrow-down span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #1e34ff;
  border-right: 5px solid #ff2c2c;
  transform: rotate(45deg);
  margin: -16px;
  animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow-down span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes arrow-down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
