.text-logo-portfolio span {
  color: rgb(10, 10, 10);
  display: inline-block;
  transition: all 0.5s;
  animation: logo-portfolio 2s infinite;
}

@keyframes logo-portfolio {
  0% {
    color: rgb(255, 255, 255);
    transform: translateY(0);
    margin: 0;
  }
  10% {
    color: #1f1f1f;
  }
}

.portfolio {
  background-color: #1d1d1d;
  padding: 40px 12% 1rem;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 33rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 1.7rem;
  box-shadow: 0 0.1rem 1.4rem #000000;
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio-box img:hover {
  transform: scale(1.1);
  transform: translateY(0);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), #242424);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer{
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #1f1f1f;
  border-radius: 50%;
  transition: all 0.3s;
}

.portfolio-layer a:hover {
  background-color: #656363;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: #000000;
}
