@media screen and (max-width: 767.99px) {
  .portfolio {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
.text-logo-portfolio span {
  color: rgb(10, 10, 10);
  display: inline-block;
  transition: all 0.5s;
  animation: logo-portfolio 2s infinite;
}

@keyframes logo-portfolio {
  0% {
    color: rgb(255, 255, 255);
    transform: translateY(0);
    margin: 0;
  }
  10% {
    color: #1f1f1f;
  }
}

.portfolio {
  /* background-color: #6f6f6f; як варіант*/
  background-color: #c9c9c9;
  padding: 12px 12% 1rem;
}


.healing-portfolio {
  margin: 1rem 0 5rem;
}

.healing-portfolio span{
  -webkit-text-stroke: 1px #020b12;
  color: transparent;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 40rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 1.7rem;
  box-shadow: 0 0.2rem 0.8rem #1c1c1cb5;
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio-box img:hover {
  transform: translateY(0);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), #242424);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.4rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: #f4f4f4bf;
  border-radius: 50%;
  transition: all 0.3s;
}

.portfolio-layer a:hover {
  background-color: #ffffff;
}

.portfolio-layer a i {
  font-size: 1.5rem;
  color: #000000;
}

}


