@media screen and (min-width: 1024px) {
.services-logo {
  font-family: 'Poiret One';
  font-size: 24px;
  padding: 50px 9% 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-logo-services span {
    color: rgb(10, 10, 10);
    display: inline-block;
    transition: all 0.5s;
    animation: logo-services 2s infinite;
  }
  
  @keyframes logo-services {
    0% {
      color: rgb(255, 255, 255);
      transform: translateY(0);
      margin: 0;
    }
    10% {
      color: #000000;
    }

  }

.services {
    padding: 4px 14% 6rem;
    position: relative;
}

.heading-services,
.healing-portfolio,
.heading-contact {
    color: #9f9d9d;
    text-align: center;
    font-size: 4.5rem;
}

.heading-services span,
.healing-portfolio span,
.heading-contact span{
    font-family: 'Montserrat';
    -webkit-text-stroke: 1px var(--text-color);
    
    color: transparent;
  }

.services h2{
    margin: -3rem 0 6rem;
}

.services h3{
  text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
}

.text-servise{
  padding-bottom: 1.3rem;
    font-size: 1.4rem;
    transition: .1s ease;
    text-align: left;
}

.text-servise:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.services-container {
  /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-bottom: 4rem;
}

.services-box {
  position: relative;
    flex: 1 1 30rem;
    text-align: center;
    background-color: #00000096;
    min-height: 930px;
    padding: 4rem;
    border: .2rem solid;
    border: solid 4px white;
    border-radius: 20px;
    transition: .1s ease;
}

.services-box::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    background: linear-gradient(150deg,
    #ffffffd8,
    #020b12,
    #ffffff,
    #020b12);
    background-size: 770%;
    border-radius: 40px;
    z-index: -1;
    animation: amimateServices 15s ease infinite;
}

@keyframes amimateServices {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

.services-box i{
  /* transform: translate(-50%, -50%); */
 
    font-size: 5rem;
    margin-bottom: 2rem;
    -webkit-text-stroke: 1px var(--text-color);
    color: #ffffff;
}

.services-box .js{

  color: #ffd722;
  background-color: #131313;
}

.services-box .paint{
  color: #ffd722;
  cursor: pointer;
}

@keyframes color-change {
  0% { color: rgb(242, 242, 255); } 
  5% { color: rgb(130, 130, 130); } 
  10% { color: rgb(92, 127, 214); } 
  15% { color: rgb(36, 95, 255); }
  20% { color: rgb(121, 60, 252); }
  25% { color: rgb(154, 42, 162); }
  30% { color: rgb(217, 13, 67); }
  35% { color: #ff3b3b; }
  40% { color: rgb(255, 135, 37); }
  45% { color: rgb(254, 208, 57); }
  50% { color: rgb(240, 244, 47); }
  55% { color: rgb(175, 255, 36); }
  60% { color: rgb(100, 208, 57); }
  65% { color: rgb(75, 229, 106); }
  70% { color: rgb(66, 195, 167); }
  75% { color: rgb(113, 230, 154); }
  80% { color: rgb(143, 210, 166); }
  85% { color: rgb(114, 174, 140); }
  90% { color: #8aa189; }
  95% { color: rgb(155, 152, 152); }
  100% { color: rgb(199, 199, 201); } 
}


.services-box .devices{
  color: #ffd722;

}

.services-box a{
    width: 220px;
    padding: 1.2rem 2.2rem;
    background: rgba(175, 175, 175, 0.759);
    border-radius: 4rem;
    font-size: 1.0rem;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
  }
  
  .services-box a:hover {
    color: var(--second-bg-color);
    background-color: #ebebeb;
    box-shadow: none;
  }

.text-adaptive {
  padding-bottom: 3.1rem;
}
}


