.text-logo-servises span {
    color: rgb(10, 10, 10);
    display: inline-block;
    transition: all 0.5s;
    animation: logo-servises 2s infinite;
  }
  
  @keyframes logo-servises {
    0% {
      color: rgb(255, 255, 255);
      transform: translateY(0);
      margin: 0;
    }
    10% {
      color: #000000;
    }

  }

.servises {
    padding: 40px 16% 1rem;
}

.servises h2{
    margin-bottom: 5rem;
    margin: 1rem 0 7rem;
}

.servises h3{
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
}

.servises p{
    margin-bottom: 1.3rem;
    font-size: 1.1rem;
    transition: .1s ease;
}

.servises p:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.heading-servises,
.healing-portfolio {
    color: #9f9d9d;
    text-align: center;
    font-size: 4.5rem;
}

.heading-servises span,
.healing-portfolio span{
    font-family: 'Montserrat';
    -webkit-text-stroke: 1px var(--text-color);
    color: transparent;
  }

.servises-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 27rem;
}

.servises-box {
    flex: 1 1 30rem;
    background-color: #9f9d9d;
    padding: 3rem 2rem 4rem;
    text-align: center;
    border: .2rem solid;
    border: double 5px white;
    border-radius: 20px;
    transition: .1s ease;
}

.servises-box::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    background: linear-gradient(90deg,
    #020b12,
    #effcf9a9,
    #020b12);
    background-size: 170%;
    border-radius: 40px;
    z-index: -1;
    animation: amimateServises 30s ease infinite;
}

@keyframes amimateServises {
    0% {
      background-position: 0 0;
    }
    20% {
      background-position: 700% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

.servises-box i{
    font-size: 7rem;
    margin-bottom: 2rem;
    -webkit-text-stroke: 1px var(--text-color);
    color: #ffffff;
}

.servises-box .js{
  color: #ffd722;
  background-color: #000000;
}

.servises-box .paint{
  color: rgb(255, 255, 255);
  cursor: pointer;

}

.servises-box .paint:hover{
  color: blue;
  animation: color-change 5s linear infinite;
}

@keyframes color-change {
  0% { color: rgb(242, 242, 255); } 
  5% { color: rgb(130, 130, 130); } 
  10% { color: rgb(92, 127, 214); } 
  15% { color: rgb(36, 95, 255); }
  20% { color: rgb(121, 60, 252); }
  25% { color: rgb(154, 42, 162); }
  30% { color: rgb(217, 13, 67); }
  35% { color: #ff3b3b; }
  40% { color: rgb(255, 135, 37); }
  45% { color: rgb(254, 208, 57); }
  50% { color: rgb(240, 244, 47); }
  55% { color: rgb(175, 255, 36); }
  60% { color: rgb(100, 208, 57); }
  65% { color: rgb(75, 229, 106); }
  70% { color: rgb(66, 195, 167); }
  75% { color: rgb(113, 230, 154); }
  80% { color: rgb(143, 210, 166); }
  85% { color: rgb(114, 174, 140); }
  90% { color: #8aa189; }
  95% { color: rgb(155, 152, 152); }
  100% { color: rgb(199, 199, 201); } 
}


.servises-box .devices{
  color: #5076ff;
}

.servises-box a{
    display: inline-block;
    padding: 1rem 1.8rem;
    background: var(--second-bg-color);
    border-radius: 4rem;
    font-size: 1.0rem;
    letter-spacing: 0.1rem;

    transition: 0.3s ease;
  }
  
  .servises-box a:hover {
    color: var(--second-bg-color);
    background-color: #ebebeb;
    box-shadow: none;
  }

